body {
    background-color: #f0f0f0
    ;
}

h1 {
font-family:'Times New Roman', Times, serif;
color: #003366;
}

p {
font-size: 16px;
color: #333333;
}

ul {
    list-style: none;
}

.nav {
    padding-left: 500px;
}

.nav>li {
display: inline;
padding: 20px;

}

.nav1>input {
max-width: fit-content;
height: 30px;    
}

.knopf {
    background-color: #28a745;
    color: #ffff;
}